body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  margin: auto;
  height: 100vh;
  background-color: white;
  text-align: center;
  }

.home h1 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 8em;
  padding-top: 0.5em;
  line-height: 1.25;
  margin: auto;
  text-align: center;
}

.home span {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.25;
  margin: auto;
}

.starting-msg {
  margin: auto;
  justify-content: center;
  display: flex;
}

.buttons {
  padding: 2em;
  width: 50%;
  margin: auto;
}


/*
Text Input Bar
*/

.chat {
  margin: auto;
  width: 90vh;
}

#input {
  margin: auto;
  text-align: center;
}

#submit {
  margin: auto;
  text-align: center;
  display: block;
}

/*
GPT Output Section 
*/

.output {
  margin: auto;
  text-align: left;
  text-indent: 2em;
  padding: 2em;
  font-weight: 400; 
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
  line-height: 1.625;
}

/* Loading Page */

.loading {
  margin: auto;
  text-align: center;
}