
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  margin: auto;
  height: 100vh;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-left-color: #9D00FF;
  border-right-color: #9D00FF;
  }

/*
Header for homepage - Apple style font
*/
.header {
  margin: auto;
  height: 20vh;
  padding: 5vh;
  text-align: center;
}

.big-type { 
  /* Copied almost wholesale from the Apple site CSS; changed the font-stack */
  font-size: 64px;
  line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
  font-weight: 600; /* Nice, chunky, bold! */
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.masked-copy { 
  /* This is it! Magic: */
  -webkit-background-clip: text;
  color: transparent !important;
  
}

.masked-copy h2 { 

  display: inline;
  /* Get the font sizes and other features from those set on the parent */
  font: inherit;
}

.masked-copy p {
  font-size: large;
}

.texture-orange {
  /* Set the text color to a solid, in case our super cool effects don't work.  */
  color: #e5895f;
  
  /* background-repeat: no-repeat; */
  background-image: url(../public/purple.jpeg);
}

/*
Text Input Bar
*/

.chat {
  margin: auto;
  width: 90vh;
}

#input {
  margin: auto;
  text-align: center;
}

#submit {
  margin: auto;
  text-align: center;
  display: block;
}

/*
GPT Output Section 
*/

.output {
  margin: auto;
  text-align: left;
  text-indent: 2em;
  padding: 2em;
  font-weight: 400; 
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
  line-height: 1.625;
}

/* Loading Page */

.loading {
  margin: auto;
  text-align: center;
}