body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Starting page
*/

.home {
  margin: auto;
  height: 100vh;
  background-color: white;
  text-align: center;
  }

.home h1 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 8em;
  padding-top: 0.5em;
  line-height: 1.25;
  margin: auto;
  text-align: center;
}

.home span {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.25;
  margin: auto;
}

.starting-msg {
  margin: auto;
  justify-content: center;
  display: flex;
}

.buttons {
  padding: 2em;
  width: 50%;
  margin: auto;
}


/*
Chat Page + Input
*/

.chat {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.chat h1{
  margin: auto;
  font-weight: 600;
  font-size: 4em;
  padding-top: 0.5em;
  line-height: 1.25;
  margin: auto;
  text-align: center;
}

.chat p {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.25;
  margin: auto;
  text-align: center;
}

.chat h2 {
  padding-top: 3em;
  margin: auto;
  font-size: 1.5em;
  font-weight: 500;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: relative;
}

.screen {
  flex-grow: 1;
}

.input {
  width: 50%;
  margin: auto; 
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/*
GPT Output Section 
*/

.speech-bubble {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 80%;
  margin: 10px 0;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f2f2f2;
  border-left: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.user-input .speech-bubble {
  float: left;
  margin-left: 10px;
}

.user-input .speech-bubble:before {
  border-right-color: #f2f2f2;
  left: auto;
  right: 0;
  margin-left: auto;
  margin-right: -10px;
}

.chatbot-response .speech-bubble {
  float: right;
  margin-right: 10px;
}

.chatbot-response .speech-bubble:before {
  border-right-color: #f2f2f2;
}
